@model WebApplication2.Models.BuyVoucherViewModel

@{
    ViewBag.Title = "Payout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        $("a:contains('Hello ')").addClass("active");
    });
</script>

<div class="main">
    <div class="content_box">
        <h2>Admin Payout</h2>
        <div class="border" style="margin: 0 0 25px 0"></div>
        <div class="grey_box" style="margin-bottom: 30px;">
            <div class="merchants_main_dv">


            </div>
            <div class="merchants_shadow"></div>
        </div>

    </div>
<div class="box_shadow"></div>
    </div>

