@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@
<script>
    $(document).ready(function () {
        $("a:contains('Contact Us')").addClass("active");
    });
</script>
<div class="main">
    <!--<div class="slider_box"><img src="~/Images/banner-1.jpg"></div>slider_box-->
    <!--<div class="slide_shadow"></div>box_shadow-->
    <div class="content_box">
        <h2>Contact Us</h2>


        <div class="border" style="margin:0 0 15px 0"></div>




        <h5>Contact Form</h5>

        <!--contact_wra-->
        <div class="contact_wra">

            <div class="contact_left">
                <div class="contact_in"><label>Name :</label><input name="" type="text" style="width:268px;"></div>
                <div class="contact_in"><label>Email :</label><input name="" type="text" style="width:268px;"></div>
                <div class="contact_in"><label>Mobile :</label><input name="" type="text" style="width:268px;"></div>
                <div class="contact_in"><label>Massage :</label><textarea name="" cols="" rows="" style="width:268px;"></textarea></div>

                <input name="" type="submit" value="Submit" style="margin:0 0 65px 125px">
            </div>




            <div class="contact_right">

                <b> Address :</b> 12/B Lorem Ipsum dummy, Street no. 37<br><br>


                <b>Phone :</b> 658 7854 021 / 521 547 256<br><br>

                <b>Fax :</b> 658 7854 021 / 521 547 256<br><br>

                <b>Email :</b> info@onevoucher.com <br><br>

            </div>



            <div class="clear"></div>

        </div>
        <!--contact_wra-->









        <h5>Find Us</h5>

        <div class="map">

            <img src="~/Images/map.png">
        </div>













        <div class="border" style="margin:30px 0 15px 0"></div>




    </div><!--content_box-->
    <div class="box_shadow"></div><!--box_shadow-->
</div>